%html
  %head
    %style{ :type => "text/css", :media => "screen" }
      body {
      padding: 50px;
      background: #2C2C29;
      text-align: center;
      font-family:Helvetica, Arial;
      color:#FFFFFF;
      }
      
      img {
      background-color: #FFFFFF;
      border: 5px solid #39414A;
      }
      
      \#divFloat {
      background-color: #FFFFFF;
      border-right: 5px solid #39414A;
      border-top: 5px solid #39414A;
      border-bottom: 5px solid #39414A;
      }
      
      \.next {
      display:hidden;
      }
      
      \#title {
      font-size:48px;
      }
      
      \#summary {
      font-size:16px;
      font-style:italic;
      }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :type => "text/javascript", :charset => "utf-8" }
    
      function LastImageHeight() {
      return $("#images img:last").height();
      }
      
      (function($){
      
      $.fn.endlessScroll = function(options){
      
      var defaults = {
      bottomPixels: 50,
      fireOnce: true,
      fireDelay: 150,
      loader: "<br />Loading...<br />",
      data: "",
      insertAfter: "div:last",
      resetCounter: function(){ return false; },
      callback: function(){ return true; },
      ceaseFire: function(){ return false; }
      };
      
      var options = $.extend(defaults, options);
      
      var firing       = true;
      var fired        = false;
      var fireSequence = 0;
      
      if(options.ceaseFire.apply(this) === true)
      {
      firing = false;
      }
      
      if (firing === true)
      {
      $(window).scroll(function(){
      if (($(document).height() - 100) - $(window).height() <= $(window).scrollTop() + + LastImageHeight())
      {
      if ((options.fireOnce == false || (options.fireOnce == true && fired != true)))
      {
      if(options.resetCounter.apply(this) === true)
      {
      fireSequence = 0;
      }
      
      fired = true;
      fireSequence++;
      
      $(options.insertAfter).after("<div id=\"endless_scroll_loader\">" + options.loader + "</div>");
      
      if (typeof options.data == 'function')
      {
      data = options.data.apply(this);
      }
      else
      {
      data = options.data;
      }
      
      if (data !== false)
      {
      $("div#endless_scroll_loader").remove();
      $(options.insertAfter).after("<div id=\"endless_scroll_data\">" + data + "</div>");
      $("div#endless_scroll_data").hide().fadeIn();
      $("div#endless_scroll_data").removeAttr("id");
      
      var args = new Array();
      args[0] = fireSequence;
      options.callback.apply(this, args);
      
      if (options.fireDelay !== false || options.fireDelay !== 0)
      {
      \// slight delay for preventing event firing twice
      $("body").after("<div id=\"endless_scroll_marker\"></div>");
      $("div#endless_scroll_marker").fadeTo(options.fireDelay, 1, function(){
      $(this).remove();
      fired = false;
      });
      }
      else
      {
      fired = false;
      }
      }
      }
      }
      });
      }
      };
      
      
      function setImage() {
      $(img).load(function() {
      $(this).removeAttr("width")
      \.removeAttr("height")
      \.css({ width: "", height: "" });
      pic_real_width = this.width;
      pic_real_height = this.height;
      });
      }
      
      })(jQuery);           
      var wrapper = 0;
      
      function Starter() {
      if ($(document).height() - $(window).height() <= $(window).scrollTop() + 100) {
      $.getJSON("new-image", function(data) {
      $('#images').append("<img src='" + data.url + "' /><br /><br />");
      });
      wrapper++;
      setTimeout(function() {
      Starter();
      },
      750);
      } else {
      $(document).endlessScroll({
      loader : "<br />Loading...</br />",
      bottomPixels : 100,
      callback : function() {
      $('#images .next').removeClass('next');
      $.getJSON("new-image", function(data) {
      $('#images').append("<img class='next' src='" + data.url + "' /><br /><br />");
      setImage();
      });
      }
      });
      }
      }
      
      
      
      $(document).ready(function () {
      Starter();
      });
  %body
    #title
      Fukung Forever
    #summary
      Welcome to the site you will never leave...
    #images
    %a{ :href => "http://getclicky.com/193097", :title => "Google Analytics Alternative" }
      %img{ :src => "http://static.getclicky.com/media/links/badge.gif", :border => "0", :alt => "Google Analytics Alternative" }
    %script{ :src => "http://static.getclicky.com/js", :type => "text/javascript" }
    %script{ :type => "text/javascript" }
      clicky.init(212762);
    %noscript
      %p
        %img{ :src => "http://in.getclicky.com/212762ns.gif", :height => "1", :alt => "Clicky", :width => "1" }
